@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: linear-gradient(aqua, rgb(97, 97, 210), black);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(black, rgb(97, 97, 210), aqua);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgb(235, 11, 11);
    border-radius: 50px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(0, 0, 0), rgb(134, 134, 80));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 90px;
}

.snake{
    background-color: rgb(0, 5, 6);
    border: .25vmin solid rgb(16, 1, 4);
    border-radius: 30px;
}

.food{
    background: linear-gradient(rgb(244, 1, 1), rgb(242, 53, 53));
    border: .25vmin solid black;
    border-radius: 28px;
}